/*  Sadot Maximiliano Cortes Marquez 214496459
    April 22nd!2016, License: Private
/*  All contents of this project are  ©2015-2016 Sadot Maximiliano Cortes Marquez. All Rights Reserved.*/


/*  Start of Reset*/


/*-------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------------------------*/


/*End Reset*/


/*Css starts*/


/*-------------------------------------*/

body {
    background-color: #1B1C1C;
    font-family: 'Droid Sans', sans-serif;
}
.head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 185px;
    background-color: #000;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}
.menuLogo {
    position: absolute;
    top: 10px;
    left: 240px;
}
.menuLogo img {
    border: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.menuNav {
    position: absolute;
    top: 30px;
    left: 440px;
    background-color: #000;
}
.menuNav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.menuNav a.aContacto {
    position: relative;
    top: 0px;
    left: 25px;
}
.menuNav a.aMembresia {
    position: relative;
    top: 0px;
    left: 50px;
}
.menuNav i#twitter {
    position: relative;
    top: 0px;
    left: 90px;
    color: white;
}
.menuNav i#facebook {
    position: relative;
    top: 0px;
    left: 120px;
    color: white;
}
.menuNav i#fasearch {
    position: absolute;
    top: 6px;
    left: 770px;
    color: white;
    font-size: 20px;
}
.menuNav input.search {
    position: absolute;
    top: 4px;
    left: 580px;
    font-size: 16px;
    background-color: #000;
    color: white;
    border-radius: 10px/25px;
}
.submenuNav {
    position: absolute;
    top: 90px;
    left: 500px;
}
.submenuNav a {
    color: white;
    text-decoration: none;
    font-size: 40px;
}
.submenuNav a.aFunciones {
    position: relative;
    left: -4px;
}
.submenuNav a.aCartelera {
    position: relative;
    left: 30px;
}
.submenuNav a.aTalleres {
    position: relative;
    left: 60px;
}
.imgPel {
    position: absolute;
    top: 220px;
    left: 420px;
}
.sinopsis {
    position: absolute;
    top: 230px;
    left: 790px;
    color: white;
    font-size: 30px;
}
.psinopsis {
    position: relative;
    top: 30px;
    width: 300px;
    display: block;
    font-size: 16px;
    text-align: justify;
}
.sp {
    position: relative;
    top: 14.2px;
    left: 65px;
    width: 300px;
    display: block;
    font-size: 16px;
    color: #15b3f0;
}
.dps {
    position: relative;
    top: 0px;
    width: 300px;
    display: block;
    font-size: 15px;
    text-align: justify;
}
.dps span {
    color: #15b3f0;
}
* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}
.btn {
    position: absolute;
    top: 440px;
    left: 155px;
    font-size: 15px;
}
.btn2 {
    position: absolute;
    top: 485px;
    left: 155px;
    font-size: 15px;
}
.btn2 {
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: 400;
    line-height: 45px;
    margin: 0 auto 2em;
    max-width: 160px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    @media(min-width: 400px) {
        display: inline-block;
        margin-right: 2.5em;
        &:nth-of-type(even) {
            margin-right: 0;
        }
    }
    @media(min-width: 600px) {
        &:nth-of-type(even) {
            margin-right: 2.5em;
        }
        &:nth-of-type(5) {
            margin-right: 0;
        }
    }
    &:hover {
        text-decoration: none;
    }
}
.btn {
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: 400;
    line-height: 45px;
    margin: 0 auto 2em;
    max-width: 160px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    @media(min-width: 400px) {
        display: inline-block;
        margin-right: 2.5em;
        &:nth-of-type(even) {
            margin-right: 0;
        }
    }
    @media(min-width: 600px) {
        &:nth-of-type(even) {
            margin-right: 2.5em;
        }
        &:nth-of-type(5) {
            margin-right: 0;
        }
    }
    &:hover {
        text-decoration: none;
    }
}
.btn-2 {
    letter-spacing: 0;
}
.btn-2:hover, .btn-2:active {
    letter-spacing: 5px;
}
.btn-2:after, .btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}
.btn-2:hover:after, .btn-2:hover:before {
    backface-visibility: hidden;
    border-color: white;
    transition: width 350ms ease-in-out;
    width: 70%;
}
.btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}
.btn-3 {
    letter-spacing: 0;
}
.btn-3:hover, .btn-3:active {
    letter-spacing: 5px;
}
.btn-3:after, .btn-3:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}
.btn-3:hover:after, .btn-3:hover:before {
    backface-visibility: hidden;
    border-color: white;
    transition: width 350ms ease-in-out;
    width: 70%;
}
.btn-3:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}
* {
    margin: 0;
    padding: 0;
}
.calendar {
    position: absolute;
    top: 280px;
    left: 1120px;
}
#calendar {
    width: 258px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #555;
    box-shadow: 0 0 50px -14px rgba(0, 0, 0, .8);
}
#calendar h1 {
    background: #15b3f0;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    font-size: 140%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    cursor: default;
    text-shadow: 0 0 10px rgba(0, 0, 0, .8);
}
#calendar table {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-spacing: 0;
    border-radius: 0 0 5px 5px;
}
#calendar td {
    width: 28px;
    height: 28px;
    background: #eee;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 6px;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}
#calendar td:hover:not(.current) {
    background: #ddd;
}
#calendar .lastmonth, #calendar .nextmonth, #calendar .nextmonth ~ * {
    background: #fff;
    color: #999;
}
#calendar .current {
    background: #2489b0;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
#calendar .hastask {
    font-weight: 700;
}
#calendar tr:last-of-type td:first-of-type {
    border-radius: 0 0 0 5px;
}
#calendar tr:last-of-type td:last-of-type {
    border-radius: 0 0 5px 0;
}
.video {
    position: absolute;
    top: 350px;
    left: 20px;
}
